<md-sidenav-container>
    <md-sidenav mode="side" opened="true" #sidenav>
        <md-nav-list>
            <h3 md-subheader>Source</h3>
            <a md-list-item *ngFor="let source of sources" [routerLink]="['/sources/'+source.id]">
                <img *ngIf="source.urlsToLogos.small" md-list-avatar src="{{source.urlsToLogos.small}}">
                <p md-line>
                    <span class="source-name">{{source.name}}</span>
                </p>
                <p md-line>
                    <span class="source-category">{{source.category}} </span>
                </p>
            </a>
        </md-nav-list>
    </md-sidenav>
    <section>
        <router-outlet></router-outlet>
    </section>
</md-sidenav-container>
